<article class="item">
  <p class="item-meta">
    <span>{{ item.tags|join:"<span class='text-secondary'> | </span>"|safe }}</span>
    {% for link in item.links %}
      <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
    {% endfor %}
  </p>
  <{{ heading|default:"h3" }} class="item-title">{{ item.title|safe }}</{{ heading|default:"h3" }}>
  {% if item.authors %}
    <p class="item-author">{{ item.authors|safe }}</p>
  {% endif %}
  {% if item.desc %}
    <p class="item-desc">{{ item.desc|safe }}</p>
  {% endif %}
</article>
