<div class="list-group-item">
  <div class="d-flex align-items-center gap-2">
    <div class="d-inline-block item-tags">
      {{ item.tags|join:"<span class='text-secondary'> | </span>"|safe }}
    </div>
    <div class="d-flex gap-2">
      {% for link in item.links %}
        <a class="item-link" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="item-title">{{ item.title|safe }}</div>
  {% if item.authors %}
    <div class="item-desc">{{ item.authors|safe }}</div>
  {% endif %}
  {% if item.desc %}
    <div class="item-desc">{{ item.desc|safe }}</div>
  {% endif %}
</div>
