<nav class="navbar navbar-expand">
    <ul class="navbar-nav d-flex justify-content-evenly mx-auto gap-3 gap-sm-5">
        {% for section in data.sections %}
          {% if section == 'publications' %}
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#publications">
                <span class="d-inline d-md-none">Pubs</span>
                <span class="d-none d-md-inline">Publications</span>
            </a>
        </li>
          {% elif section == 'projects' %}
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#projects">
                <span class="d-inline d-md-none">Work</span>
                <span class="d-none d-md-inline">Projects</span>
            </a>
        </li>
          {% elif section == 'teaching' %}
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#teaching">
                <span class="d-inline d-md-none">Teach</span>
                <span class="d-none d-md-inline">Teaching</span>
            </a>
        </li>
          {% elif section == 'presentations' %}
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#presentations">
                <span class="d-inline d-md-none">Talks</span>
                <span class="d-none d-md-inline">Presentations</span>
            </a>
        </li>
          {% elif section == 'services' %}
        <li class="nav-item">
            <a class="link nav-link px-0" href="/#services">
                <span class="d-inline d-md-none">Serve</span>
                <span class="d-none d-md-inline">Services</span>
            </a>
        </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item">
            <a class="link nav-link px-0" href="https://blog.yanlincs.com">
                <span class="d-inline d-md-none">Blog</span>
                <span class="d-none d-md-inline">Blog</span>
            </a>
        </li>
    </ul>
</nav>
