<div class="list-group-item">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-inline-block item-tags primary-text">
      {{ presentation.tags|join:"<span class='text-muted'> | </span>"|safe }}
    </div>
    <div class="d-flex gap-2">
      {% for name, url in presentation.links %}
        <a class="item-link" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="item-title">{{ presentation.title|safe }}</div>
</div> 
