<div class="list-group-item px-0">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-inline-block venue-name primary-text">
      {{ presentation.tags|join("<span class='text-muted'> | </span>")|safe }}
    </div>
    <div class="d-flex gap-2">
      {% for name, url in presentation.links.items() %}
        <a class="link icon-link icon-link-hover paper-link link-secondary" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="paper-title">{{ presentation.title|safe }}</div>
</div> 
