<div class="list-group-item px-0">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-inline-block item-tags {% if type == 'primary' %}primary-text{% else %}secondary-text{% endif %}">
      {{ project.tags|join("<span class='text-muted'> | </span>")|safe }}
    </div>
    <div class="d-flex gap-2">
      {% for name, url in project.links.items() %}
        <a class="link icon-link icon-link-hover item-link link-secondary" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="item-title">{{ project.title|safe }}</div>
  <p class="item-desc">{{ project.desc|safe }}</p>
</div> 
