<div class="list-group-item px-0">
  <div class="d-flex justify-content-between align-items-center mb-1">
    <p class="d-inline-block mb-0 venue-name primary-text">
      {{ teaching.tags|join("<span class='text-muted'> | </span>")|safe }}
    </p>
    <div class="d-flex gap-2">
      {% for name, url in teaching.links.items() %}
        <a class="link icon-link icon-link-hover paper-link link-secondary" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a>
      {% endfor %}
    </div>
  </div>
  <h5 class="mb-1 paper-title">{{ teaching.title|safe }}</h5>
  {% if teaching.desc %}
    <p class="card-text mb-auto project-desc">{{ teaching.desc|safe }}</p>
  {% endif %}
</div> 