<div class="list-group-item px-0">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-inline-block item-tags primary-text">
      {{ teaching.tags|join:"<span class='text-muted'> | </span>"|safe }}
    </div>
    <div class="d-flex gap-2">
      {% for name, url in teaching.links %}
        <a class="item-link" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="item-title">{{ teaching.title|safe }}</div>
  {% if teaching.desc %}
    <div class="item-desc">{{ teaching.desc|safe }}</div>
  {% endif %}
</div> 
