{% extends 'base.html' %}

{% block title %}{{ data.site.title }} - Activities{% endblock %}

{% block content %}
  <article class="section">
    {% with section_title="Activities" %}{% include 'partials/section-header.html' %}{% endwith %}

    <div>
      <div>{{ data.activities.courses.desc }}</div>
      {% for item in data.activities.courses.entries %}
        {% include 'partials/item.html' %}
      {% endfor %}
    </div>

    <hr/>

    <div>
      <div>{{ data.activities.supervision.desc }}</div>
      {% for item in data.activities.supervision.entries %}
        {% include 'partials/item.html' %}
      {% endfor %}
    </div>

    <hr/>

    <div>
      {% if data.activities.presentations.desc %}<div>{{ data.activities.presentations.desc }}</div>{% endif %}
      {% for item in data.activities.presentations.entries %}
        {% include 'partials/item.html' %}
      {% endfor %}
    </div>

    <div class="footnote">* Equal Contribution</div>
  </article>
{% endblock %}
