{% extends 'base.html' %}

{% block title %}{{ data.site.title }} - Activities{% endblock %}

{% block content %}
  <section class="section">
    <h1 class="section-title">Activities</h1>

    <p class="section-desc">{{ data.activities.courses.desc }}</p>
    {% for item in data.activities.courses.entries %}
      {% include 'partials/item.html' with heading="h2" %}
    {% endfor %}

    <hr/>

    <p class="section-desc">{{ data.activities.supervision.desc }}</p>
    {% for item in data.activities.supervision.entries %}
      {% include 'partials/item.html' with heading="h2" %}
    {% endfor %}

    <hr/>

    {% if data.activities.presentations.desc %}<p class="section-desc">{{ data.activities.presentations.desc }}</p>{% endif %}
    {% for item in data.activities.presentations.entries %}
      {% include 'partials/item.html' with heading="h2" %}
    {% endfor %}

    <p class="footnote">* Equal Contribution</p>
  </section>
{% endblock %}
