{% extends 'base.html' %}

{% block title %}{{ data.site.title }} - Projects{% endblock %}

{% block content %}
  <section class="section">
    <h1 class="section-title">Projects</h1>
    {% if data.projects.primary.desc %}<p class="section-desc">{{ data.projects.primary.desc }}</p>{% endif %}
    {% for item in data.projects.primary.entries %}
      {% include 'partials/item.html' with heading="h2" %}
    {% endfor %}
    <hr/>
    {% if data.projects.secondary.desc %}<p class="section-desc">{{ data.projects.secondary.desc }}</p>{% endif %}
    {% for item in data.projects.secondary.entries %}
      {% include 'partials/item.html' with heading="h2" %}
    {% endfor %}
  </section>
{% endblock %}
