{% extends 'base.html' %}

{% block title %}{{ data.site.title }} - Projects{% endblock %}

{% block content %}
  <article class="section">
    {% with section_title="Projects" %}{% include 'partials/section-header.html' %}{% endwith %}
    {% if data.projects.primary.desc %}<div>{{ data.projects.primary.desc }}</div>{% endif %}
    {% for item in data.projects.primary.entries %}
      {% include 'partials/item.html' %}
    {% endfor %}
    <hr/>
    {% if data.projects.secondary.desc %}<div>{{ data.projects.secondary.desc }}</div>{% endif %}
    {% for item in data.projects.secondary.entries %}
      {% include 'partials/item.html' %}
    {% endfor %}
  </article>
{% endblock %}
