{% extends 'base.html' %}

{% block title %}{{ data.site.title }} - Publications{% endblock %}

{% block content %}
  <article class="section">
    {% with section_title="Publications" %}{% include 'partials/section-header.html' %}{% endwith %}
    {% if data.publications.primary.desc %}<div>{{ data.publications.primary.desc }}</div>{% endif %}
    {% for item in data.publications.primary.entries %}
      {% include 'partials/item.html' %}
    {% endfor %}
    <hr/>
    {% if data.publications.secondary.desc %}<div>{{ data.publications.secondary.desc }}</div>{% endif %}
    {% for item in data.publications.secondary.entries %}
      {% include 'partials/item.html' %}
    {% endfor %}

    <div class="footnote">* Equal Contribution</div>
  </article>
{% endblock %}
