{% extends 'base.html' %}

{% block title %}{{ data.site.title }} - Publications{% endblock %}

{% block content %}
  <section class="section">
    <h1 class="section-title">Publications</h1>
    {% if data.publications.primary.desc %}<p class="section-desc">{{ data.publications.primary.desc }}</p>{% endif %}
    {% for item in data.publications.primary.entries %}
      {% include 'partials/item.html' with heading="h2" %}
    {% endfor %}
    <hr/>
    {% if data.publications.secondary.desc %}<p class="section-desc">{{ data.publications.secondary.desc }}</p>{% endif %}
    {% for item in data.publications.secondary.entries %}
      {% include 'partials/item.html' with heading="h2" %}
    {% endfor %}

    <p class="footnote">* Equal Contribution</p>
  </section>
{% endblock %}
