<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ data.title }}{% endblock %}</title>
  <meta name="description" content="{{ data.description }}">

  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="{{ data.title }}" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#161618" media="(prefers-color-scheme: dark)">

  <link rel="stylesheet" href="/css/index.css">
  {% block extra_head %}{% endblock %}
</head>

<body>
  <main class="container">
    <header class="border-bottom pt-3 pb-2 border-secondary">
      <nav class="header-nav">
        <a href="/" class="site-title">{{ data.siteName }}</a>
        {% for nav in data.navbar %}
        <a class="link" href="{{ nav.url }}"
           {% if nav.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
          {{ nav.name }}
        </a>
        {% endfor %}
      </nav>
    </header>

    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="container">
        <div class="footer-line">
            <span class="text-secondary footer-text">© {{ year }} - Designed and engineered by Yan Lin.</span>
            <span class="footer-links">
                {% for link in data.footerLinks %}
                <a class="link" href="{{ link.url }}"
                   {% if link.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                  {{ link.name }}
                </a>
                {% endfor %}
            </span>
        </div>
    </div>
  </footer>


  {% block extra_js %}
  {% endblock %}
</body>

</html> 
