{% extends 'base.html' %} {% block title %}Yan Lin's Homepage{% endblock %} {%
block content %}
<div class="row g-0 rounded text-body-emphasis bg-body-secondary flex-md-row my-4 position-relative">
    <div class="col p-4 d-flex flex-column position-static pb-0">
        <h3 class="fst-italic mb-3">Biography - Yan Lin</h3>
        <div class="section-desc">{{ content.bio|safe }}</div>
    </div>
</div>

<article class="section" id="research">
    {% with section_title="Research" %}{% include 'partials/section-header.html' %}{% endwith %}
    {% for subsection in data.researchSections %}
      {% if not loop.first %}<hr class="my-3" />{% endif %}
      <div>
        <p class="section-desc">{{ subsection.desc }}</p>
        <div class="list-group list-group-flush">
            {% for item in subsection.resolved_items %}
              {% include 'partials/item.html' %}
            {% endfor %}
        </div>
      </div>
    {% endfor %}
</article>

<article class="section" id="teaching">
    {% with section_title="Teaching" %}{% include 'partials/section-header.html' %}{% endwith %}
    {% for subsection in data.teachingSections %}
      {% if not loop.first %}<hr class="my-2" />{% endif %}
      <div>
        <p class="section-desc">{{ subsection.desc }}</p>
        <div class="list-group list-group-flush">
            {% for item in subsection.resolved_items %}
              {% include 'partials/item.html' %}
            {% endfor %}
        </div>
      </div>
    {% endfor %}
</article>

<article class="section" id="service">
    {% with section_title="Service" %}{% include 'partials/section-header.html' %}{% endwith %}
    <div class="section-desc">{{ content.service|safe }}</div>
</article>

{% endblock %} {% block extra_js %} {{ super() }} {% endblock %}
