{% extends 'base.html' %}

{% block title %}{{ data.title }} - Projects{% endblock %}

{% block content %}
  <article class="section">
    {% with section_title="Projects" %}{% include 'partials/section-header.html' %}{% endwith %}
    {% if data.primaryProjectsDesc %}<p class="section-desc">{{ data.primaryProjectsDesc }}</p>{% endif %}
    <div class="list-group list-group-flush">
      {% for project in data.primaryProjects %}
        {% with type='primary' %}
          {% include 'partials/project.html' %}
        {% endwith %}
      {% endfor %}
    </div>
    <hr/>
    {% if data.secondaryProjectsDesc %}<p class="section-desc">{{ data.secondaryProjectsDesc }}</p>{% endif %}
    <div class="list-group list-group-flush">
      {% for project in data.secondaryProjects %}
        {% with type='secondary' %}
          {% include 'partials/project.html' %}
        {% endwith %}
      {% endfor %}
    </div>
  </article>
{% endblock %}
