{% extends 'base.html' %}

{% block title %}Yan Lin's Homepage - Publications{% endblock %}

{% block content %}
  <article class="section">
    {% with section_title="Publications" %}{% include 'partials/section-header.html' %}{% endwith %}
    <div class="list-group list-group-flush">
      {% for pub in data.primaryPublications %}
        {% with type='primary' %}
          {% include 'partials/publication.html' %}
        {% endwith %}
      {% endfor %}
    </div>
    <hr class="my-2" />
    <div class="list-group list-group-flush">
      {% for pub in data.secondaryPublications %}
        {% with type='secondary' %}
          {% include 'partials/publication.html' %}
        {% endwith %}
      {% endfor %}
    </div>

    <div class="text-start mt-3">
      <small class="text-muted" style="font-size: 0.8rem;">* Equal Contribution</small>
    </div>
  </article>
{% endblock %}
