{% extends 'base.html' %}

{% block title %}{{ data.title }} - Publications{% endblock %}

{% block content %}
  <article class="section">
    {% with section_title="Publications" %}{% include 'partials/section-header.html' %}{% endwith %}
    {% if data.primaryPublicationsDesc %}<p class="section-desc">{{ data.primaryPublicationsDesc }}</p>{% endif %}
    <div class="list-group list-group-flush">
      {% for pub in data.primaryPublications %}
        {% with type='primary' %}
          {% include 'partials/publication.html' %}
        {% endwith %}
      {% endfor %}
    </div>
    <hr/>
    {% if data.secondaryPublicationsDesc %}<p class="section-desc">{{ data.secondaryPublicationsDesc }}</p>{% endif %}
    <div class="list-group list-group-flush">
      {% for pub in data.secondaryPublications %}
        {% with type='secondary' %}
          {% include 'partials/publication.html' %}
        {% endwith %}
      {% endfor %}
    </div>

    <div class="text-start mt-3">
      <small class="text-muted" style="font-size: 0.8rem;">* Equal Contribution</small>
    </div>
  </article>
{% endblock %}
